
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#"><span class="sr-only">(current)</span></a></li>
    <li><a id="getting-started"></a></li>
    <li><a id="integration-guide"></a></li>
    <li><a id="banner-id"></a></li>
    <li><a id="interstitial-id"></a></li>
    <li><a id="mediation"></a></li>
    <li><a id="advanced"></a></li>
    <li><a id="latest-news"></a></li>
    <li><a id="download"></a></li>
    <li><a id="support"></a></li>
  </ul>

  <script type="text/javascript">
    // var usrlang = navigator.language || navigator.userLanguage;
    var lang = $('html').attr("lang");
    var userLang = lang.toLowerCase();
    var urlGettingStarted = '{{ site.baseurl }}/' + userLang + '/ios/';
    var urlIntegrationGuide = '{{ site.baseurl }}/' + userLang + '/ios/integration-guide';
    var urlBanner = '{{ site.baseurl }}/' + userLang + '/ios/banner/';
    var urlInterstitial = '{{ site.baseurl }}/' + userLang + '/ios/interstitial/';
    var urlMediation = '{{ site.baseurl }}/' + userLang + '/ios/mediation/';
    var urlAdvanced = '{{ site.baseurl }}/' + userLang + '/ios/advanced/';
    var urlLatestNews = '{{ site.baseurl }}/' + userLang + '/ios/latest-news/';
    var urlDownload = '{{ site.baseurl }}/' + userLang + '/ios/download/';
    var urlSupport = '{{ site.baseurl }}/' + userLang + '/ios/support/';
    // var  = "'{{ site.baseurl }}/'+ userLang + '/ios/'";

  $(document).ready(function(){
    //show the text in right lang
    if (userLang == "zh-tw") {
      $('#getting-started').text("開始使用");
      $('#integration-guide').text("串接說明");
      $('#banner-id').text("橫幅廣告");
      $('#interstitial-id').text('插頁廣告');
      $('#mediation').text("中介服務");
      $('#advanced').text("進階設定");
      $('#latest-news').text("最新消息");
      $('#download').text("下載SDK");
      $('#support').text("其他協助");
    } else if (userLang == "zh-cn") {
      $('#getting-started').text("开始使用");
      $('#integration-guide').text("Getting Started");
      $('#banner-id').text("横幅广告");
      $('#interstitial-id').text('插页广告');
      $('#mediation').text("中介服务");
      $('#advanced').text("进阶设定");
      $('#latest-news').text("最新消息");
      $('#download').text("下载SDK");
      $('#support').text("其他协助");
    } else if (userLang == "jp"){
      $('#getting-started').text("スタートガイド");
      $('#integration-guide').text("Getting Started");
      $('#banner-id').text("バナー広告");
      $('#interstitial-id').text('インタースティシャル広告');
      $('#mediation').text("メディエーション");
      $('#latest-news').text("最新ニュース");
      $('#download').text("ダウンロード");
      $('#support').text("サポート");
    } else {
     $('#getting-started').text("Getting Started")
     $('#integration-guide').text("Getting Started");
     $('#banner-id').text("Banner Ad");
     $('#interstitial-id').text('Interstitial Ad');
     $('#mediation').text("Mediation");
     $('#advanced').text("Advanced Setting");
     $('#latest-news').text("Latest News");
     $('#download').text("Download");
     $('#support').text("Support"); }
   //add right linking url to right title
    $('#getting-started').attr({href:urlGettingStarted});
    $('#integration-guide').attr({href:urlIntegrationGuide});
    $('#banner-id').attr({href:urlBanner});
    $('#interstitial-id').attr({href:urlInterstitial});
    $('#mediation').attr({href:urlMediation});
    $('#advanced').attr({href:urlAdvanced});
    $('#latest-news').attr({href:urlLatestNews});
    $('#download').attr({href:urlDownload});
    $('#support').attr({href:urlSupport});
    // $('#').attr({href:url});
  });
  </script>
