  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a id="getting-started"></a></li>
    <li><a id="banner-ad">Banner Ad</a></li>
    <li><a id="banner-ad-plus">Banner Ad+</a></li>
    <li><a id="crazy-ad">Crazy Ad</a></li>
    <li><a id="interstitial-ad">Interstitial Ad</a></li>
    <li><a id="mediation">Mediation</a></li>
    <li><a id="change-log">Change Log</a></li>
    <li><a id="reference">Reference</a></li>
    <li><a id="support">Support</a></li>
  </ul>

  <script type="text/javascript">
    // var usrlang = navigator.language || navigator.userLanguage;
    var lang = $('html').attr("lang");
    var userLang = lang.toLowerCase();
    var urlGettingStarted = '/' + userLang + '/ios/getting-started/';
    var urlBannerAd = '/' + userLang + '/ios/banner/';
    var urlBannerAdPlus = '/' + userLang + '/ios/advanced/';
    var urlCrazyAd = '/ '+ userLang + '/ios/advanced/crazy-ad/';
    var urlInterstitialAd = '/' + userLang + '/ios/interstitial/';
    var urlMediation = '/' + userLang + '/ios/mediation/';
    var urlChangeLog = '/' + userLang + '/ios/change-log/';
    var urlReference = '/' + userLang + '/ios/reference/';
    var urlSupport = '/' + userLang + '/ios/support/';
    // var  = "'/'+ userLang + '/ios/'";

  $(document).ready(function(){
    //show the text in right lang
    if (userLang == "zh-tw") {
      $('#getting-started').text("開始使用");
      $('#banner-ad').text("橫幅廣告");
      $('#banner-ad-plus').text("橫幅廣告+");
      $('#crazy-ad').text("Crazy Ad");
      $('#interstitial-ad').text('插頁廣告');
      $('#mediation').text("中介器");
      $('#change-log').text("版本更迭");
      $('#reference').text("參考資料");
      $('#support').text("其他協助");
    } else if (userLang == "zh-cn") {
      $('#getting-started').text("开始使用");
      $('#banner-ad').text("横幅广告");
      $('#banner-ad-plus').text("横幅广告+");
      $('#crazy-ad').text("Crazy Ad");
      $('#interstitial-ad').text('插页广告');
      $('#mediation').text("中介器");
      $('#change-log').text("版本更迭");
      $('#reference').text("参考资料");
      $('#support').text("其他协助");
    } else if (userLang == "jp"){
      $('#getting-started').text("基本編");
      $('#banner-ad').text("バナー広告");
      $('#banner-ad-plus').text("バナー広告+");
      $('#crazy-ad').text("Crazy Ad");
      $('#interstitial-ad').text('インタースティシャル広告');
      $('#mediation').text("Mediation");
      $('#change-log').text("Change Log");
      $('#reference').text("参照");
      $('#support').text("サポート");
    } else {
     $('#getting-started').text("Getting Started")
     $('#banner-ad').text("Banner Ad");
     $('#banner-ad-plus').text("Banner Ad+");
     $('#crazy-ad').text("Crazy ad");
     $('#interstitial-ad').text('Interstitial Ad');
     $('#mediation').text("Mediation");
     $('#change-log').text("Change Log");
     $('#reference').text("Reference");
     $('#support').text("Support"); }
   //add right linking url to right title
    $('#getting-started').attr({href:urlGettingStarted});
    $('#banner-ad').attr({href:urlBannerAd});
    $('#banner-ad-plus').attr({href:urlBannerAdPlus});
    $('#crazy-ad').attr({href:urlCrazyAd});
    $('#interstitial-ad').attr({href:urlInterstitialAd});
    $('#mediation').attr({href:urlMediation});
    $('#change-log').attr({href:urlChangeLog});
    $('#reference').attr({href:urlReference});
    $('#support').attr({href:urlSupport});
    // $('#').attr({href:url});
  });
  </script>
