<div class="devsite-wrapper">
  <div class="kd-butterbar">
    <span>
      <span class="message"></span><a href="#" class="kd-butterbar-dismiss">隱藏</a></span>
  </div>

  <nav class="devsite-section-nav-responsive devsite-nav" tabindex="0">
    <ul>
      <li class="devsite-nav-item devsite-nav-item-heading"><a class="devsite-nav-title devsite-nav-title-no-path ">開始使用</a>
        <li class="devsite-nav-item"><a href="/admob/android/quick-start" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">Android Studio</a></li>
        <li class="devsite-nav-item devsite-nav-active"><a href="/admob/android/eclipse" class="devsite-nav-title gc-analytics-event devsite-nav-active" data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">Eclipse</a></li>
        <li class="devsite-nav-item"><a href="/admob/android/existing-app" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">現有應用程式</a></li>
      </li>
      <li class="devsite-nav-item devsite-nav-item-heading"><a class="devsite-nav-title devsite-nav-title-no-path ">廣告類型</a>
        <li class="devsite-nav-item"><a href="/admob/android/banner" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">橫幅廣告</a></li>
        <li class="devsite-nav-item"><a href="/admob/android/interstitial" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">插頁式廣告</a></li>
        <li class="devsite-nav-item"><a href="/admob/android/iap" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">應用程式內購廣告</a></li>
      </li>
      <li class="devsite-nav-item devsite-nav-item-heading"><a class="devsite-nav-title devsite-nav-title-no-path ">進階功能</a>
        <li class="devsite-nav-item"><a href="/admob/android/targeting" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">指定目標</a></li>
        <li class="devsite-nav-item"><a href="/admob/android/ad-events" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">廣告事件</a></li>
        <li class="devsite-nav-item"><a href="/admob/android/reporting" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">報表</a></li>
      </li>
      <li class="devsite-nav-item devsite-nav-item-heading"><a class="devsite-nav-title devsite-nav-title-no-path ">中介服務</a>
        <li class="devsite-nav-item"><a href="/admob/android/mediation" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">發佈商入門</a></li>
        <li class="devsite-nav-item"><a href="/admob/android/mediation-networks" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">中介服務聯播網</a></li>
        <li class="devsite-nav-item"><a href="/admob/android/custom-events" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">自訂事件</a></li>
      </li>
      <li class="devsite-nav-item">
        <hr class="devsite-nav-break">
      </li>
      <li class="devsite-nav-item"><a href="/admob/android/play-migration" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">Google Play 服務遷移</a></li>
      <li class="devsite-nav-item"><a href="/admob/games" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Hamburger menu" data-action="Link Click">遊戲開發人員</a></li>
    </ul>
  </nav>
  <div class="devsite-main-content clearfix">

    <nav class="devsite-section-nav devsite-nav">
      <ul>
        <li class="devsite-nav-item devsite-nav-item-heading"><a class="devsite-nav-title devsite-nav-title-no-path ">開始使用</a>
          <li class="devsite-nav-item"><a href="/admob/android/quick-start" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">Android Studio</a></li>
          <li class="devsite-nav-item devsite-nav-active"><a href="/admob/android/eclipse" class="devsite-nav-title gc-analytics-event devsite-nav-active" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">Eclipse</a></li>
          <li class="devsite-nav-item"><a href="/admob/android/existing-app" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">現有應用程式</a></li>
        </li>
        <li class="devsite-nav-item devsite-nav-item-heading"><a class="devsite-nav-title devsite-nav-title-no-path ">廣告類型</a>
          <li class="devsite-nav-item"><a href="/admob/android/banner" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">橫幅廣告</a></li>
          <li class="devsite-nav-item"><a href="/admob/android/interstitial" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">插頁式廣告</a></li>
          <li class="devsite-nav-item"><a href="/admob/android/iap" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">應用程式內購廣告</a></li>
        </li>
        <li class="devsite-nav-item devsite-nav-item-heading"><a class="devsite-nav-title devsite-nav-title-no-path ">進階功能</a>
          <li class="devsite-nav-item"><a href="/admob/android/targeting" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">指定目標</a></li>
          <li class="devsite-nav-item"><a href="/admob/android/ad-events" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">廣告事件</a></li>
          <li class="devsite-nav-item"><a href="/admob/android/reporting" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">報表</a></li>
        </li>
        <li class="devsite-nav-item devsite-nav-item-heading"><a class="devsite-nav-title devsite-nav-title-no-path ">中介服務</a>
          <li class="devsite-nav-item"><a href="/admob/android/mediation" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">發佈商入門</a></li>
          <li class="devsite-nav-item"><a href="/admob/android/mediation-networks" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">中介服務聯播網</a></li>
          <li class="devsite-nav-item"><a href="/admob/android/custom-events" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">自訂事件</a></li>
        </li>
        <li class="devsite-nav-item">
          <hr class="devsite-nav-break">
        </li>
        <li class="devsite-nav-item"><a href="/admob/android/play-migration" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">Google Play 服務遷移</a></li>
        <li class="devsite-nav-item"><a href="/admob/games" class="devsite-nav-title gc-analytics-event " data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">遊戲開發人員</a></li>
      </ul>
    </nav>
    <nav class="devsite-page-nav devsite-nav"></nav>


    <article class="devsite-article">
      <div class="devsite-article-inner">

        <script>
          devsite.timing.tick('jl');
          (function($) {
            devsite.devsite.Init($, '',
              '[]', '',
              '', true,
              '', '',
              true, {

              });
          })(jQuery);
          devsite.localInit = function() {};
        </script>

      </div>
      <!-- END DIV.WRAPPER -->
