<!DOCTYPE html>
<html >
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
    <!-- Docs master nav -->
    {% include nav-main.html %}
      <!-- Menu -->
      <!-- <nav class="menu" id="theMenu">
          <div class="menu-wrap">
              <h1 class="logo"><a href="index.html#home">Minimal</a></h1>
              <i class="icon-remove menu-close"></i>
              <a href="#home" class="smoothScroll">Home</a>
              <a href="#about" class="smoothScroll">About</a>
              <a href="#examples" class="smoothScroll">Examples</a>
              <a href="#download" class="smoothScroll">Download</a>
              <a href="#contact" class="smoothScroll">Contact</a>
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-dribbble"></i></a>
              <a href="#"><i class="icon-envelope"></i></a>
          </div>
          Menu button
          <div id="menuToggle"><i class="icon-reorder"></i></div>
      </nav> -->
      <!-- ========== HEADER SECTION ========== -->
      <section id="home" name="home"></section>
      <div id="headerwrap">
          <div class="container">

              <div class="row">
                  <h1>VPON SDK</h1>
                  <br>
                  <h3>哈囉, 歡迎來到 Vpon SDK 技術說明網站	.</h3>
                    <a href="#download" class="btn btn-lg btn-outline" role="button">立馬瞧瞧</a>
                  <br>
                  <br>
                  <div class="col-lg-6 col-lg-offset-3">
                  </div>
              </div>
          </div>
          <!-- /container -->
      </div>
      <!-- /headerwrap -->
      <!-- ========== ABOUT SECTION ========== -->
      <section id="about" name="about"></section>
      <div id="f">
          <div class="container">
              <div class="row">
                  <h3>關於 VPON SDK</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <!-- INTRO INFORMATIO-->
                  <div class="col-lg-6 col-lg-offset-3">
                      <p><strong>優質品牌廣告資源</strong></p>
                      <p>與主要4A公司、兩岸連鎖業協會保持長期緊密的合作關係；擁有更多、更優質的品牌廣告資源；平台內品牌廣告比例超過90%以上，可有效維護和提升應用程式的形象。</p>
                      <p><strong>公平合理的計費模式</p></strong>
                      <p>
                        同時採用CPM/CPC計價模式，透過應用程式的曝光量、點擊量、CTR、不重複使用人次等多項參數動態計算每日收益，更加公平合理，保證優質的應用程式能獲得好的廣告收益，又能兼顧品牌廣告主的投放訴求。
                      </p>
                      <p><strong>LBS精準定向保證更高點擊率</p></strong>
                      <p>
                        優質品牌廣告資源結合優惠、促銷、折扣內容，透過LBS定向技術投放。使廣告與使用者位置高度相關，更加貼近使用者需求，並增加其參與廣告的興趣，從而有效提高廣告點擊率。
                      </p>
                      <p><strong>豐富的資料統計功能</p></strong>
                    <p>
                      在滿足基本資料統計功能的基礎上，將提供更加豐富的深度資料探勘工具，幫助合作夥伴理解應用程式的使用者行為、習慣、分佈等資料。
                    </p>
                      <p>沒時間再猶豫不決了，點擊按鈕前往註冊</p>
                      <p>
                          <a href="http://tw.pub.vpon.com/register.action" class="btn btn-lg btn-outline" role="button">前往註冊</a>

                      </p>
                  </div>
              </div>

          <!-- /container -->
      </div>
      </div>
      <!-- /f -->
      <!-- ========== CAROUSEL SECTION ========== -->
      <section id="examples" name="examples"></section>
      <div id="f">
          <div class="container" >

              <div class="row centered">
                  <h3>廣告範例</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <div class="col-lg-6 col-lg-offset-3">
                      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                              <div class="item active centered">
                                  <img class="img-example" src="{{ site.baseurl }}/assets/img/c1.png" alt="">
                              </div>
                              <div class="item centered">
                                  <img class="img-example" src="{{ site.baseurl }}/assets/img/c2.png" alt="">
                              </div>
                              <div class="item centered">
                                  <img class="img-example" src="{{ site.baseurl }}/assets/img/c3.png" alt="">
                              </div>
                          </div>
                          <br>
                          <br>
                          <ol class="carousel-indicators">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active slide-pt"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1" class="icon icon-circle"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="2" class="icon icon-circle"></li>
                          </ol>
                      </div>
                  </div>
                  <!-- col-lg-8 -->
              </div>
              <!-- row -->
          </div>
          <!-- container -->
      </div>


      <!-- Download Section -->
      <section id="download" name="download"></section>
      <div id="f" >
          <div class="container">
              <div class="row" id="download-row">
                  <h3>Download/Quick-start</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <div class="col-lg-6 col-lg-offset-3">
                    <p><img src="{{site.baseurl}}/assets/img/logo-android.png" class="download-icon" alt=""><a href="android/index.html" class="btn btn-lg btn-outline" role="button">Android</a>
                    <img src="{{site.baseurl}}/assets/img/logo-apple.png" class="download-icon" alt=""><a href="ios/index.html" class="btn btn-lg btn-outline" role="button">iOS</a>
                    <img src="{{site.baseurl}}/assets/img/logo-phone.png" class="download-icon" alt=""><a href="web/index.html" class="btn btn-lg btn-outline" role="button">Web</a></p>

                  </div>
              </div>
          </div>
      </div>

      <!-- What to add???????????????????????? -->
      <section id="what" name="what"></section>
      <div id="headerwrap">
      <div id="ff" >
          <div class="container">
              <div class="row">
                  <h3>What to add?</h3>
                  <p class="centered">
                    <i class="icon icon-circle"></i>
                    <i class="icon icon-circle"></i>
                    <i class="icon icon-circle"></i></p>
                  <div class="col-lg-6 col-lg-offset-3">
                  <p>
                    There should be somethgin here.
                  </p>

                  </div>
              </div>
          </div>
      </div>
      </div>

      <!-- f -->
      <!-- ========== CONTACT SECTION ========== -->
      <section id="contact" name="contact"></section>
      <div id="f" >
          <div class="container">
              <div class="row">
                  <h3>聯絡我們</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <div class="col-lg-6 col-lg-offset-3">
                    <p>任何廣告營收問題?</p>
                    <p>
                         <a href="mailto:bd@vpon.com" class="btn btn-lg btn-outline" role="button">E-mail BD</a>
                    </p>

                      <p>任何串接技術問題?</p>
                      <p>
                           <a href="mailto:fae@vpon.com" class="btn btn-lg btn-outline" role="button">E-mail FAE</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{{ site.baseurl }}/assets/js/classie.js"></script>
      <script src="{{ site.baseurl }}/assets/js/smoothscroll.js"></script>
      <script src="{{ site.baseurl }}/assets/js/main.js"></script>
      {% include footer.html %}
  </body>

</html>
