<!DOCTYPE html>
<html >
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
    <!-- Docs master nav -->
    {% include nav-main.html %}
      <!-- Menu -->
      <!-- <nav class="menu" id="theMenu">
          <div class="menu-wrap">
              <h1 class="logo"><a href="index.html#home">Minimal</a></h1>
              <i class="icon-remove menu-close"></i>
              <a href="#home" class="smoothScroll">Home</a>
              <a href="#about" class="smoothScroll">About</a>
              <a href="#examples" class="smoothScroll">Examples</a>
              <a href="#download" class="smoothScroll">Download</a>
              <a href="#contact" class="smoothScroll">Contact</a>
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-dribbble"></i></a>
              <a href="#"><i class="icon-envelope"></i></a>
          </div>
          Menu button
          <div id="menuToggle"><i class="icon-reorder"></i></div>
      </nav> -->
      <!-- ========== HEADER SECTION ========== -->
      <section id="home" name="home"></section>
      <div id="headerwrap">
          <div class="container">

              <div class="row">
                  <h1>VPON SDK</h1>
                  <br>
                  <h3>Hello, welcome to Vpon SDK Instruction	.</h3>
                    <a href="#download" class="btn btn-lg btn-outline" role="button">Get started</a>
                  <br>
                  <br>
                  <div class="col-lg-6 col-lg-offset-3">
                  </div>
              </div>
          </div>
          <!-- /container -->
      </div>
      <!-- /headerwrap -->
      <!-- ========== ABOUT SECTION ========== -->
      <section id="about" name="about"></section>
      <div id="f">
          <div class="container">
              <div class="row">
                  <h3>ABOUT VPON SDK</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <!-- INTRO INFORMATIO-->
                  <div class="col-lg-6 col-lg-offset-3">
                      <p><strong>Superior brand advertising resources</strong></p>
                      <p>As we have has been working closely with major 4A companies and chain store associations in Taiwan and China for an extended period of time, we can supply more and better brand marketing resources. 90+% brand advertising ratio on our platform effectively maintains and enhances app image.</p>
                      <p><strong>Fair developer fee</p></strong>
                      <p>Based on both CPC and CPM model, we calculate daily revenue dynamically using parameters including impressions, clicks, CTR and unique users. The fair and sensible method ensures ad revenue for quality apps and meets advertiser needs</p>

                      <p><strong>LBS ensures high CTR with precision targeting</p></strong>
                      <p>Superior brand marketing resources are combined with discounts and promotions, which are placed with LBS targeting technology. This makes ads highly relevant to audiences to meet their needs, which attracts them to the service and effectively improves CTR.</p>

                      <p><strong>Rich statistics</p></strong>
                      <p>To help partners understand app user behaviors, habits and demography, we added rich drill-down data mining tools to basic statistics.</p>

                      <p>No more time to waste on hesitation. Click the button</p>
                      <p>
                          <button type="button" class="btn btn-warning" onclick="location.href='http://tw.pub.vpon.com/register.action'">REGISTER NOW</button>
                      </p>
                  </div>
              </div>

          <!-- /container -->
      </div>
      </div>
      <!-- /f -->
      <!-- ========== CAROUSEL SECTION ========== -->
      <section id="examples" name="examples"></section>
      <div id="f">
          <div class="container" >

              <div class="row centered">
                  <h3>SOME EXAMPLES</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <div class="col-lg-6 col-lg-offset-3">
                      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                              <div class="item active centered">
                                  <img class="img-example" src="{{ site.baseurl }}/assets/img/c1.png" alt="">
                              </div>
                              <div class="item centered">
                                  <img class="img-example" src="{{ site.baseurl }}/assets/img/c2.png" alt="">
                              </div>
                              <div class="item centered">
                                  <img class="img-example" src="{{ site.baseurl }}/assets/img/c3.png" alt="">
                              </div>
                          </div>
                          <br>
                          <br>
                          <ol class="carousel-indicators">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                          </ol>
                      </div>
                  </div>
                  <!-- col-lg-8 -->
              </div>
              <!-- row -->
          </div>
          <!-- container -->
      </div>


      <!-- Download Section -->
      <section id="download" name="download"></section>
      <div id="f" >
          <div class="container">
              <div class="row" id="download-row">
                  <h3>Download</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <div class="col-lg-6 col-lg-offset-3">
                    <p><img src="{{site.baseurl}}/assets/img/logo-android.png" class="download-icon" alt=""><a href="android/index.html" class="btn btn-lg btn-outline" role="button">Android</a>
                    <img src="{{site.baseurl}}/assets/img/logo-apple.png" class="download-icon" alt=""><a href="ios/index.html" class="btn btn-lg btn-outline" role="button">iOS</a>
                    <img src="{{site.baseurl}}/assets/img/logo-phone.png" class="download-icon" alt=""><a href="web/index.html" class="btn btn-lg btn-outline" role="button">Web</a></p>

                  </div>
              </div>
          </div>
      </div>

      <!-- What to add???????????????????????? -->
      <section id="what" name="what"></section>
      <div id="headerwrap">
      <div id="ff" >
          <div class="container">
              <div class="row">
                  <h3>What to add?</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <div class="col-lg-6 col-lg-offset-3">
                  <p>
                    There should be somethgin here.
                  </p>

                  </div>
              </div>
          </div>
      </div>
      </div>

      <!-- f -->
      <!-- ========== CONTACT SECTION ========== -->
      <section id="contact" name="contact"></section>
      <div id="f" >
          <div class="container">
              <div class="row">
                  <h3>CONTACT US</h3>
                  <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                  <div class="col-lg-6 col-lg-offset-3">
                      <p>Some Avenue, 987
                          <br/>Madrid, Spain
                          <br/>+886-2-77308328</p>
                      <p>fae@vpon.com</p>
                      <p>
                          <button type="button" class="btn btn-warning">CONTACT ME NOW!</button>
                      </p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{{ site.baseurl }}/assets/js/classie.js"></script>
      <script src="{{ site.baseurl }}/assets/js/smoothscroll.js"></script>
      <script src="{{ site.baseurl }}/assets/js/main.js"></script>
      {% include footer.html %}
  </body>

</html>
